<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="calendar" abstract="true" class="Calendar">
        <property name = "weekStart" value = "MONDAY"/>
        <property name = "locale" value = "ENGLISH"/>
        <property name = "weekend">
            <set>
                 <value>SATURDAY</value>
                 <value>FRIDAY</value>
            </set>
        </property>

        <property name="today">
            <bean class="java.time.LocalDate">
                <constructor-arg index="0" value="2016"/>
                <constructor-arg index="1" value="11"/>
                <constructor-arg index="2" value="24"/>
            </bean>
        </property>
    </bean>

    <bean id="consoleCalendar" class="ConsoleCalendar" parent="calendar">
    </bean>

    <bean id="htmlCalendar" class="HtmlCalendar" parent="calendar">
    </bean>

</beans>